{% extends '@backend/_theme/base.html.twig' %}
{% block body %}
  <div class="easycontrol-container">

    <div class="page-sidebar">
      <iframe src="{{ path('backend_widget_sidebar') }}" width="100" height="100" frameborder="0" class="sidebar-iframe"></iframe>
    </div>

    <div class="page-container">
      {{ include('@backend/_theme/_partials/header.html.twig') }}

      <iframe src="{{ path('backend_main_welcome') }}" width="100" height="100" frameborder="0" class="main-iframe" name="mainIframe" id="mainIframe"></iframe>

    </div>

  </div>
{% endblock %}