{% extends '@backend/_theme/base.html.twig' %}
{% block body %}
  <div class="page-content">
  <div class="page-info">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><span target="_parent">EasyControl</span></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Website</li>
      </ol>
    </nav>
  </div>

  <div class="main-wrapper">
    <div class="card">
      <div class="card-body">
        {{ form_start(form) }}
        <input type="submit" value="Save" class="btn btn-primary form-fixed-btn">
        {{ form_end(form) }}
      </div>
    </div>
  </div>
  </div>
{% endblock %}