// colors
$ec_white:              rgb(255, 255, 255);
$ec_black:              rgb(0, 0, 0);
$ec_color-alpha:        rgb(95, 208, 165);
$ec_color-alpha-dark:   #55c3b7;
$ec_color-alpha-light:  #66da90;
$ec_color-border:       #8ff2cc;
$ec_color-border2:      #e8e8e8;
$ec_color-background:   #fafafa;
$ec_color-text:         #4a4a4a;
$ec_color-box-shadow:   rgb(0, 0, 0);