<div class="page-info">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Styles</a></li>
      <li class="breadcrumb-item active" aria-current="page">Typography</li>
    </ol>
  </nav>
</div>