.page-sidebar {
  width: 280px;
  position: fixed;
  background: $ec_white;
  top: 0;
  bottom: 0;
  padding: 10px;
  box-shadow: 0 0 1.25rem rgba(31, 45, 61, .04);
  transition: background .2s ease-in-out;
  z-index: 100;
}

.sidebar-iframe {
  width: 100%;
  height: 100%;
}
