.body-sidebar {
  background: $ec_white;
}

.sidebar {
  width: 100%;
  min-height: 100%;
  background: $ec_white;

  & .ui-sortable-placeholder {
    background: #fafafa;
    border: 1px dashed rgba($ec_color-alpha, .5);
    position: relative;
    &:after {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: left;
      content: 'Drop Here';
      font-size: 10px;
      color: #9e1517;
    }
  }
}

.sidebar .sidebar-tree {

}

.sidebar .sidebar-tree ul.tree-list {
  list-style: none;
  padding: 0;
  margin: 0;
  border-left: 1px dotted rgba($ec_color-alpha, .5);
}

.sidebar .sidebar-tree ul.tree-list li.list-item {

}

.sidebar .sidebar-tree ul.tree-list li.list-item .item-options {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0;
}

.sidebar .sidebar-tree ul.tree-list li.list-item .item-options .item-icon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  cursor: pointer;


  &.icon-toggle {
    transition:transform .35s ease-in-out;
    transform: rotate(0deg);

    &.show {
      transform: rotate(225deg);
      & .material-icons {
      }
    }
  }
}

.sidebar .sidebar-tree ul.tree-list li.list-item .item-options .item-icon .material-icons {
  color: $ec_color-alpha;
  font-size: 18px;
}

.sidebar .item-content.collapse.show .dropdown-menu {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.sidebar .item-content.collapse.show .icon-settings.show .dropdown-menu {
  display: block;
  visibility: visible;
  opacity: 1;
}

.sidebar .sidebar-tree ul.tree-list li.list-item .item-options .item-icon .dropdown-menu {
  padding: 0;
}

.sidebar .sidebar-tree ul.tree-list li.list-item .item-options .item-icon .dropdown-menu .dropdown-divider {
  margin: 0;
}

.sidebar .sidebar-tree ul.tree-list li.list-item .item-options .item-icon .dropdown-menu .dropdown-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px ;
  & .material-icons {
    margin-right: 5px;
  }
}

.sidebar .sidebar-tree ul.tree-list li.list-item .item-options .item-badge {
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: 10px;
}

.sidebar .sidebar-tree ul.tree-list li.list-item .item-options .item-title {
  flex-grow: 1;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  hyphens: auto;
  display: block;
  color: $ec_color-text;
}

.sidebar .sidebar-tree ul.tree-list li.list-item .item-content {
  padding-left: 20px;
}