{% extends '@backend/_theme/blank.html.twig' %}
{% block body %}
  <h4>Website</h4>
  <div class="sidebar-tree" data-type="website">
    {{ include('@backend/_theme/_function/website-tree.html.twig', {menu: backendVars.activeWebsite.mainMenu}) }}
  </div>
  <h4>Shop</h4>
  <div class="sidebar-tree" data-type="shop">
  </div>
{% endblock %}